/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #000000de;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

/*Top Section*/

.header {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.header-title {
  font-size: 3rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.header-tools {
  font-size: 1.5rem;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*Angular Material Buttons*/

.btn {
  padding: 6px 32px;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn a {
  color: #fff !important;
  font-size: 14px;
}
.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: black !important;
  background-color: #3f51b5;
  border: none;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024,
    0 1px 5px #0000001f;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}
.btn-default:focus {
  color: #333;
  -webkit-box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024,
    0 1px 5px #0000001f;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border: none;
}

.overview-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "grid-item1 grid-item1 grid-item1";
}

.grid-item1 {
  margin: 15rem 0rem;
  width: 65%;
  grid-area: grid1;
  -ms-grid-column-align: center;
  justify-self: center;
}

.grid-item1-title {
  font-size: 2rem;
  text-decoration: none;
}

.grid-item1-text {
  font-size: 1.35rem;
  color: #3f51b5;
}

.banner {
  margin-top: 3rem;
  background-image: url(../../img/angular/angular-mockup.png);
  width: 100%;
  overflow: visible;
  min-height: 454px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.ios-banner {
  display: none;
  margin-top: 2rem;
  margin-bottom: 8rem;
  background-image: url(../../img/angular/angular-mockup.png);
  overflow: visible;
  background-position: center;
  background-size: cover;
  min-height: 454px;
  width: 100%;
}

/*Middle Section*/

.middle-section {
  margin: 0rem 3rem;
}

.middle-section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
}

.project-mgmnt-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-areas: "grid-item1 grid-item1  .  grid-item2";
  margin: 10rem 0;
}

.project-grid-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: grid-item1;
  -ms-grid-row-align: center;
  align-self: center;
}

.project-mgmnt-grid > .project-grid-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
}

.bottom-grid > .project-grid-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

.project-grid-item1-title {
  font-size: 2rem;
}

.project-grid-item1-text {
  color: #3f51b5;
  font-size: 1.35rem;
}

.project-grid-item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: grid-item2;
  -ms-grid-row-align: center;
  align-self: center;
}

.bottom-grid > .project-grid-item2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.project-grid-item2-img {
  width: 100%;
  max-width: 800px;
}

.banner2 {
  margin-top: 3rem;
  background-image: url(../../mockups/mockup-ipad2.png);
  width: 100%;
  overflow: visible;
  min-height: 454px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.ios-banner2 {
  display: none;
  margin-top: 2rem;
  margin-bottom: 8rem;
  background-image: url(../../mockups/mockup-ipad2.png);
  overflow: visible;
  background-position: center;
  background-size: cover;
  min-height: 454px;
  width: 100%;
}

.bottom-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "grid-item1"
    "grid-item2";
  margin-top: 3rem;
}

.bottom-grid-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: grid-item1;
  width: 65%;
  -ms-grid-column-align: center;
  justify-self: center;
}

.project-mgmnt-grid > .bottom-grid-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
}

.bottom-grid > .bottom-grid-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

.bottom-grid-item1-title {
  font-size: 2rem;
}

.bottom-grid-item1-text {
  color: #3f51b5;
  font-size: 1.35rem;
}

.bottom-grid-item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  margin-top: 3rem;
  grid-area: grid-item2;
  -ms-grid-column-align: center;
  justify-self: center;
}

.bottom-grid > .bottom-grid-item2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.bottom-grid-item2 img {
  max-width: 900px;
}

.live-demo {
  text-align: center;
  font-size: 3rem;
}

#demo-container {
  text-align: center;
  margin-top: 2rem;
}

#desktop-demo {
  display: none;
}

.video-rotate {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

@media screen and (max-width: 1425px) {
  .project-grid-item2-img {
    width: 100%;
    max-width: 700px;
  }
}

@media screen and (max-width: 1280px) {
  .project-mgmnt-grid {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    grid-template-areas:
      "grid-item2"
      "grid-item1";
  }
  .project-grid-item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: grid-item1;
    -ms-grid-column-align: center;
    justify-self: center;
    width: 65%;
  }
  .project-mgmnt-grid > .project-grid-item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .bottom-grid > .project-grid-item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  @media screen and (max-width: 1280px) {
    .project-mgmnt-grid > .project-grid-item1 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
    }
  }
  .project-grid-item2 {
    -ms-grid-column-align: center;
    justify-self: center;
    margin-bottom: 5rem;
  }
  .project-grid-item2-img {
    width: 100%;
    max-width: 800px;
  }
  .project-mgmnt-grid > .project-grid-item1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .project-grid-item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .project-mgmnt-grid > .bottom-grid-item1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .bottom-grid-item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 1000px) {
  .bottom-grid-item2 img {
    width: 800px;
    max-width: 100%;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 750px) {
  .grid-item1 {
    width: 90%;
  }
  .grid-item1-title {
    font-size: 1.75rem;
  }
  .grid-item1-text {
    font-size: 1.15rem;
  }
  .project-grid-item1 {
    width: 90%;
  }
  .banner {
    margin-top: 0;
  }
  .middle-section-title {
    font-size: 2.5rem;
    margin-bottom: 0rem !important;
  }
  .project-mgmnt-grid {
    margin: 7rem 0;
  }
  .project-grid-item1-title {
    font-size: 1.75rem;
  }
  .project-grid-item1-text {
    font-size: 1.15rem;
  }
  .project-grid-item2 {
    margin-bottom: 2rem;
  }
  .bottom-grid-item1-title {
    font-size: 1.75rem;
  }
  .bottom-grid-item1-text {
    font-size: 1.15rem;
  }
  .bottom-grid-item2 {
    margin-bottom: 2rem;
  }
  .bottom-grid-item1 {
    width: 77.5%;
  }
  #desktop-demo-btn {
    display: none;
  }
  #desktop-demo {
    display: inherit;
  }
  .live-demo {
    display: none;
  }
  video {
    display: none;
  }
}
