@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border: 7px solid #232323;
}

::-webkit-scrollbar-thumb {
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  border-radius: 10px;
  width: 2px;
}

/*Breakpoints*/
/*Typography*/
/*--HOMEPAGE CONTENT--*/
/*NAME LOGO*/
/*triangle*/
.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 4.25s;
}

@keyframes flipInY {
  0% {
    transform: rotate3d(0, 1, 0, 360deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: rotate3d(0, 1, 0, -5deg);
  }
  100% {
    transform: perspective(2000px);
  }
}
/*h1 (Robert Uebelhor)*/
.name-ani,
.name-ani::after {
  animation-name: name-ani;
  animation-duration: 500ms;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes name-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*title animations*/
.title-ani {
  animation-name: title-ani;
  animation-delay: 1s;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes title-ani {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/*about me text*/
.about-me-text-ani {
  animation-name: about-me-text-ani;
  animation-delay: 2s;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes about-me-text-ani {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/*(Intersection Observer)*/
/*sun and graph*/
.sun-ani,
.graph-ani {
  opacity: 0;
  transition: opacity 0.75s ease-out;
  transition: transform 0.75s ease-out;
}

@keyframes sun-n-graph {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.appear {
  animation: sun-n-graph 1s;
}

.sun-ani.appear,
.graph-ani.appear {
  opacity: 1;
  transform: translate(0);
}

.sun-ani {
  transform: translateY(50px);
}

.graph-ani {
  transform: translateY(50px);
}

/*work page projects*/
.work-1st-ani {
  animation-name: work-1st-ani;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
}

@keyframes work-1st-ani {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.slide-right {
  opacity: 0;
  transition: opacity 1s ease-out;
  transition: transform 1s ease-out;
}

.appear-work {
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.slide-right.appear-work {
  opacity: 1;
  transform: translate(0);
}

.slide-right {
  transform: translateX(-20%);
}

@font-face {
  font-family: kimberly;
  src: url(../../fonts/kimberley\ bl.ttf);
}
@font-face {
  font-family: Brat;
  src: url("../../fonts/Brat.ttf");
}
@font-face {
  font-family: Lazer;
  src: url("../../fonts/Lazer84.ttf");
}
a {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: #fff;
}

.desktop-header {
  display: none;
}
.desktop-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  padding-top: 65px;
}
.desktop-header .navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42px;
}
.desktop-header .navbar .logo img {
  width: 64px;
}
.desktop-header .navbar-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  /*social*/
}
.desktop-header .navbar-menu .nav-items a.about-hover,
.desktop-header .navbar-menu .nav-items a.work-hover,
.desktop-header .navbar-menu .nav-items a.contact-hover {
  font-family: Brat;
  font-size: 2.75rem;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined,
.desktop-header .navbar-menu .nav-items .work-hover.underlined,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined {
  display: inline-block;
  color: #830044;
  position: relative;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined::after,
.desktop-header .navbar-menu .nav-items .work-hover.underlined::after,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border: solid 2px #830044;
  border-color: #830044 transparent transparent transparent;
  border-radius: 90%;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 100ms ease-out;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined:hover::after,
.desktop-header .navbar-menu .nav-items .work-hover.underlined:hover::after,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined:hover::after {
  transform: scale(1);
  transform-origin: bottom left;
}
.desktop-header .navbar-menu .social-container {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.desktop-header .navbar-menu .social-container a {
  margin: 0 8px;
}
.desktop-header .navbar-menu .social-container i {
  font-size: 1.5rem;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .desktop-header {
    display: unset;
  }
}
body {
  font-family: "Jura", sans-serif;
}

.navbar-mobile {
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.navbar-mobile .logo {
  align-self: center;
  cursor: pointer;
  margin-left: 26px;
  margin-top: 8px;
}
.navbar-mobile .logo img {
  width: 64px;
}
.navbar-mobile .openMenu i {
  font-size: 2rem;
  margin: 20px;
  display: block;
  cursor: pointer;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-mobile .mainMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  height: 100vh;
  position: fixed;
  top: -120%;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.975);
  transition: top 1s ease;
  display: none;
  list-style: none;
  padding-inline-start: 0;
  overflow-y: auto;
}
.navbar-mobile .mainMenu .nav-items li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-family: brat;
}
.navbar-mobile .mainMenu .nav-items li .about-hover.underlined,
.navbar-mobile .mainMenu .nav-items li .work-hover.underlined,
.navbar-mobile .mainMenu .nav-items li .contact-hover.underlined {
  display: inline-block;
  color: #830044;
  position: relative;
}
.navbar-mobile .mainMenu .nav-items li .about-hover.underlined::after,
.navbar-mobile .mainMenu .nav-items li .work-hover.underlined::after,
.navbar-mobile .mainMenu .nav-items li .contact-hover.underlined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border: solid 2px #830044;
  border-color: #830044 transparent transparent transparent;
  border-radius: 90%;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 100ms ease-out;
}
.navbar-mobile .mainMenu .nav-items li .about-hover.underlined:active::after,
.navbar-mobile .mainMenu .nav-items li .work-hover.underlined:active::after,
.navbar-mobile .mainMenu .nav-items li .contact-hover.underlined:active::after {
  transform: scale(1);
  transform-origin: bottom left;
}
.navbar-mobile .mainMenu .closeMenu i {
  display: block;
  position: absolute;
  top: 2.5vh;
  right: 5vw;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-mobile .mainMenu .closeMenu,
.navbar-mobile .mainMenu .icons i {
  font-size: 2rem;
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-mobile .mainMenu .icons {
  text-align: center;
  margin-top: 56px;
}

@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
}
/*MAIN SCREEN TRANSITION*/
.main-transition-overlay1 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 0;
  left: 0;
  width: 100%;
  animation-name: page-transition-top;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 2.75s;
  border-bottom: 4px solid #fff;
  color: #fff;
  box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
}

@keyframes page-transition-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-46vh);
  }
}
.main-transition-overlay2 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 50vh;
  left: 0;
  width: 100%;
  animation-name: page-transition-bottom;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 2.75s;
  border-top: 4px solid #fff;
  color: #fff;
  box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff, 0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9, 0 0 36px #0cbfe9;
}

@keyframes page-transition-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(46vh);
  }
}
.logo-preloader {
  width: 150px;
  opacity: 0;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  animation-name: logo-preloader;
  animation-delay: 200ms;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: ease;
}

@-webkit-keyframes logo-preloader {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  99% {
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  100% {
    opacity: 0;
  }
}
@keyframes logo-preloader {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  99% {
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  100% {
    opacity: 0;
  }
}
/*BACKGROUND VIDEO*/
.video-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

#myVideo {
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -200;
  width: 100vw;
  height: 100vh;
}

/*NAME LOGO*/
.wrapper .content-wrapper {
  z-index: 0;
  position: relative;
  display: grid;
  justify-items: center;
  margin-top: 20vh;
}
.wrapper .content-wrapper img {
  width: 350px;
  max-width: 100%;
  padding: 0 32px;
  filter: brightness(85%);
  position: relative;
}
.wrapper .content-wrapper .h1-wrapper {
  position: absolute;
  top: 20%;
}
.wrapper .content-wrapper h1 {
  background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #859ee2 51%, #d5ebfb 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: kimberly;
  text-transform: uppercase;
  font-size: 2.25rem;
  transition: font-size 1s;
  display: inline;
  opacity: 0;
  margin-top: 32px;
}
.wrapper .content-wrapper h1::after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  z-index: -10;
  opacity: 0;
}
.wrapper .content-wrapper h2 {
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 0.01px rgba(180, 180, 180, 0.438);
  text-shadow: 0 0 26px rgba(68, 68, 68, 0.438);
  animation: flicker 1.5s 6.45s infinite alternate, web-dev-ani 250ms 6.5s forwards;
  transform: rotate(-8deg);
  font-size: 2rem;
  position: absolute;
  top: 40%;
  font-family: "Yellowtail", cursive;
  opacity: 0;
}
@keyframes flicker {
  0%, 10%, 22%, 25%, 53%, 57%, 100% {
    -webkit-text-stroke: 0px;
    color: #eec5ee;
    text-shadow: 0 0 4px #f7adf7, 0 0 11px #f7adf7, 0 0 19px #f7adf7, 0 0 40px #ff00aa, 0 0 80px #ff00aa, 0 0 90px #ff00aa, 0 0 100px #ff00aa, 0 0 150px #ff00aa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@keyframes web-dev-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 320px) {
  .logo-preloader {
    width: 200px;
  }
}
@media (max-width: 340px) {
  .wrapper .content-wrapper h1 {
    font-size: 1.65rem;
  }
  .wrapper .content-wrapper h2 {
    font-size: 1.4rem;
    top: 40%;
  }
}
@media (max-width: 280px) {
  .wrapper .content-wrapper h1 {
    font-size: 1.45rem !important;
  }
  .wrapper .content-wrapper h2 {
    font-size: 1.25rem !important;
    top: 40%;
  }
}
@media (min-width: 768px) {
  .logo-preloader {
    width: 250px;
  }

  .wrapper .content-wrapper img {
    width: 500px;
  }
  .wrapper .content-wrapper h1 {
    font-size: 3.5rem;
    top: 10%;
  }
  .wrapper .content-wrapper h2 {
    font-size: 3.5rem;
  }
}
@media (max-device-width: 1024px) and (orientation: landscape) {
  .wrapper .content-wrapper {
    padding-bottom: 64px;
  }
}
.transition-overlay1 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 0;
  left: 0;
  width: 100%;
  animation-name: page-transition-top;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  border-bottom: 4px solid #fff;
  color: #fff;
  box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
}

.transition-overlay2 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 50vh;
  left: 0;
  width: 100%;
  animation-name: page-transition-bottom;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  border-top: 4px solid #fff;
  color: #fff;
  box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff, 0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9, 0 0 36px #0cbfe9;
}

@keyframes page-transition-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(46vh);
  }
}
@keyframes page-transition-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-46vh);
  }
}
.pages-wrapper {
  margin: 15vh 16px 0;
}
.pages-wrapper .about-title {
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  opacity: 0;
}
.pages-wrapper .pages-wrapper--about {
  position: relative;
  z-index: 1;
  opacity: 0;
  max-width: 42rem;
  font-size: 1rem;
  margin-top: 25vh;
}

.button-wrapper {
  text-align: left;
  margin-top: 36px;
}
.button-wrapper a {
  padding: 6px 40px;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
}

/*graph*/
.graph-wrapper {
  overflow: hidden;
  height: 100%;
}
.graph-wrapper .graph {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(12, 191, 233, 0.5) 0%, rgba(12, 191, 233, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(12, 191, 233, 0.5) 0%, rgba(12, 191, 233, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  background-size: 4em 2em, 4em 2em;
  height: 30em;
  transform: perspective(200px) rotateX(45deg) scale(2);
}

@media (min-width: 650px) {
  .sun-wrapper {
    position: relative;
  }
  .sun-wrapper .sun {
    position: absolute;
    left: 70%;
    bottom: -45px;
    margin: 0;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background: #830044;
    background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
    background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
    background: linear-gradient(to top, #830044 10%, #ff0078 44%), linear-gradient(black, white);
    box-shadow: #ff0078 0px 0 10px;
  }

  .button-wrapper {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .pages-wrapper .pages-wrapper--about {
    max-width: 50rem;
    margin-top: 20vh;
  }

  .sun-wrapper .sun {
    width: 150px;
    height: 150px;
  }

  .about-text {
    font-size: 1.5rem;
  }

  .button-wrapper {
    text-align: left;
    margin-bottom: 40px;
  }
  .button-wrapper a {
    padding: 8px 44px;
  }
}
@media (min-width: 1024px) {
  .pages-wrapper .about-text {
    max-width: 75%;
  }
  .pages-wrapper .pages-wrapper--about {
    max-width: 62rem;
  }

  .sun-wrapper {
    position: relative;
  }
  .sun-wrapper .sun {
    position: absolute;
    left: 75%;
    bottom: 0%;
    margin: 0;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .pages-wrapper .pages-wrapper--about {
    max-width: none;
  }
}
@media (min-width: 1550px) {
  .sun-wrapper .sun {
    width: 275px;
    height: 275px;
  }
}
@media (min-width: 1700px) {
  .sun-wrapper .sun {
    width: 300px;
    height: 300px;
  }
}
body {
  background-color: rgba(0, 0, 0, 0.975);
  color: #fff;
}

a {
  font-family: "Jura", sans-serif;
}

.transition-overlay1 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 0;
  left: 0;
  width: 100%;
  animation-name: page-transition-top;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  border-bottom: 4px solid #fff;
  color: #fff;
  box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
}

.transition-overlay2 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 50vh;
  left: 0;
  width: 100%;
  animation-name: page-transition-bottom;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  border-top: 4px solid #fff;
  color: #fff;
  box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff, 0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9, 0 0 36px #0cbfe9;
}

@keyframes page-transition-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(46vh);
  }
}
@keyframes page-transition-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-46vh);
  }
}
.pages-wrapper {
  margin: 15vh 16px 0;
}
.pages-wrapper .title {
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  opacity: 0;
}
.pages-wrapper .pages-content-wrapper {
  max-width: 42rem;
  font-size: 1rem;
  margin-top: 25vh;
}
.pages-wrapper .pages-content-wrapper .work-list {
  padding-inline-start: 0;
  padding-bottom: 62px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.pages-wrapper .pages-content-wrapper .work-list li {
  margin: 0px 0px 175px;
  opacity: 0;
}
.pages-wrapper .pages-content-wrapper .work-list li img {
  max-width: 100%;
  margin: 0px auto 1rem 0px;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text h2 {
  margin-top: 6px;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text .project-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text .project-links a .work-github {
  width: 26px;
  height: 26px;
  padding-top: 6px;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text .project-links a i {
  font-size: 1.5rem;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text .project-links .project-icon:hover, .pages-wrapper .pages-content-wrapper .work-list .project-text .project-links .project-icon:focus {
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 500px) {
  .pages-wrapper .pages-content-wrapper .work-list li img {
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .pages-wrapper {
    margin: 20vh 5% 0;
  }
  .pages-wrapper .title {
    font-size: 5rem;
  }
  .pages-wrapper .pages-content-wrapper {
    max-width: 50rem;
    margin-top: 20vh;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text h2 {
    font-size: 3rem;
    margin-bottom: 0px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text p {
    font-size: 1.5rem;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text .project-links {
    gap: 32px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text .project-links a i {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .pages-wrapper .pages-content-wrapper {
    max-width: 62rem;
  }
  .pages-wrapper .pages-content-wrapper .work-list li {
    display: flex;
    align-items: center;
    gap: 70px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li img {
    width: 400px;
    max-width: none;
  }
}
@media (min-width: 1200px) {
  .pages-wrapper {
    max-width: 90rem;
  }
  .pages-wrapper .pages-content-wrapper {
    max-width: none;
  }
  .pages-wrapper .pages-content-wrapper .work-list li {
    gap: 100px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li img {
    width: 500px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text {
    padding-right: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
