@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border: 7px solid #232323;
}

::-webkit-scrollbar-thumb {
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  border-radius: 10px;
  width: 2px;
}

/*Breakpoints*/
/*Typography*/
@font-face {
  font-family: kimberly;
  src: url(../../fonts/kimberley\ bl.ttf);
}
@font-face {
  font-family: Brat;
  src: url("../../fonts/Brat.ttf");
}
@font-face {
  font-family: Lazer;
  src: url("../../fonts/Lazer84.ttf");
}
a {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: #fff;
}

.desktop-header {
  display: none;
}
.desktop-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  padding-top: 64px;
}
.desktop-header .navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42px;
}
.desktop-header .navbar .logo img {
  width: 64px;
}
.desktop-header .navbar-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  /*social*/
}
.desktop-header .navbar-menu .nav-items a.about-hover,
.desktop-header .navbar-menu .nav-items a.work-hover,
.desktop-header .navbar-menu .nav-items a.contact-hover {
  font-family: Brat;
  font-size: 2.75rem;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined,
.desktop-header .navbar-menu .nav-items .work-hover.underlined,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined {
  display: inline-block;
  color: #830044;
  position: relative;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined::after,
.desktop-header .navbar-menu .nav-items .work-hover.underlined::after,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border: solid 2px #830044;
  border-color: #830044 transparent transparent transparent;
  border-radius: 90%;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 100ms ease-out;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined:hover::after,
.desktop-header .navbar-menu .nav-items .work-hover.underlined:hover::after,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined:hover::after {
  transform: scale(1);
  transform-origin: bottom left;
}
.desktop-header .navbar-menu .social-container {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.desktop-header .navbar-menu .social-container a {
  margin: 0 8px;
}
.desktop-header .navbar-menu .social-container i {
  font-size: 1.5rem;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .desktop-header {
    display: unset;
  }
}
body {
  font-family: "Jura", sans-serif;
}

.navbar-mobile {
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.navbar-mobile .logo {
  align-self: center;
  cursor: pointer;
  margin-left: 26px;
  margin-top: 8px;
}
.navbar-mobile .logo img {
  width: 64px;
}
.navbar-mobile .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: block;
  cursor: pointer;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-mobile .mainMenu {
  justify-items: center;
  grid-template-columns: 1fr;
  place-items: center;
  margin-top: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.975);
  transition: top 1s ease;
  display: none;
  list-style: none;
  padding-inline-start: 0;
  overflow-y: auto;
}
.navbar-mobile .mainMenu .nav-items {
  align-self: end;
}
.navbar-mobile .mainMenu .nav-items li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-family: brat;
}
.navbar-mobile .mainMenu .nav-items li .about-hover.underlined,
.navbar-mobile .mainMenu .nav-items li .work-hover.underlined,
.navbar-mobile .mainMenu .nav-items li .contact-hover.underlined {
  display: inline-block;
  color: #830044;
  position: relative;
}
.navbar-mobile .mainMenu .nav-items li .about-hover.underlined::after,
.navbar-mobile .mainMenu .nav-items li .work-hover.underlined::after,
.navbar-mobile .mainMenu .nav-items li .contact-hover.underlined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border: solid 2px #830044;
  border-color: #830044 transparent transparent transparent;
  border-radius: 90%;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 100ms ease-out;
}
.navbar-mobile .mainMenu .nav-items li .about-hover.underlined:active::after,
.navbar-mobile .mainMenu .nav-items li .work-hover.underlined:active::after,
.navbar-mobile .mainMenu .nav-items li .contact-hover.underlined:active::after {
  transform: scale(1);
  transform-origin: bottom left;
}
.navbar-mobile .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 2.5vh;
  right: 5vw;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-mobile .mainMenu .closeMenu,
.navbar-mobile .mainMenu .icons i {
  font-size: 2rem;
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-mobile .mainMenu .icons {
  align-self: end;
  padding-bottom: 30px;
}

@media (min-width: 375px) {
  .navbar-mobile .mainMenu .nav-items li a {
    font-size: 3.25rem;
  }
}
@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
}
.video-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

#myVideo {
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -200;
  width: 100vw;
  height: 100vh;
}

/*default animations*/
.main-transition-overlay1 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 0;
  left: 0;
  width: 100%;
  animation-name: page-transition-top;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  border-bottom: 4px solid #fff;
  color: #fff;
  box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
}

@keyframes page-transition-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-46vh);
  }
}
.main-transition-overlay2 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 50vh;
  left: 0;
  width: 100%;
  animation-name: page-transition-bottom;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  border-top: 4px solid #fff;
  color: #fff;
  box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff, 0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9, 0 0 36px #0cbfe9;
}

@keyframes page-transition-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(46vh);
  }
}
.logo-preloader {
  width: 150px;
  opacity: 0;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  animation-name: logo-preloader;
  animation-delay: 200ms;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-timing-function: ease;
}

@keyframes logo-preloader {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
  }
  99% {
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}
/*JS enabled animations*/
.wrapper .grid-item .content-wrapper {
  z-index: 0;
  position: relative;
  display: grid;
  justify-items: center;
  margin-top: 20vh;
}
.wrapper .grid-item .content-wrapper img {
  width: 350px;
  max-width: 100%;
  padding: 0 32px;
  transform: rotate(180deg);
  filter: brightness(85%);
  position: relative;
}
.wrapper .grid-item .content-wrapper h1 {
  background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #859ee2 51%, #d5ebfb 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: kimberly;
  text-transform: uppercase;
  font-size: 2.25rem;
  transition: font-size 1s;
  position: absolute;
  top: 10%;
  /*text-shadowing*/
}
.wrapper .grid-item .content-wrapper h1::after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  z-index: -3;
}
.wrapper .grid-item .content-wrapper h2 {
  text-align: center;
  color: #fdc0fd;
  text-shadow: 0 0 7px #ff79d7, 0 0 10px #ff79d7, 0 0 21px #ff79d7, 0 0 42px #ff00aa, 0 0 82px #ff00aa, 0 0 92px #ff00aa, 0 0 102px #ff00aa, 0 0 151px #ff00aa;
  animation: flicker 1.5s infinite alternate;
  transform: rotate(-8deg);
  font-size: 2rem;
  position: absolute;
  top: 40%;
  font-family: "Yellowtail", cursive;
}
@keyframes flicker {
  0%, 10%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #f7adf7, 0 0 11px #f7adf7, 0 0 19px #f7adf7, 0 0 40px #ff00aa, 0 0 80px #ff00aa, 0 0 90px #ff00aa, 0 0 100px #ff00aa, 0 0 150px #ff00aa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@media (min-width: 320px) {
  .logo-preloader {
    width: 200px;
  }
}
@media (max-width: 340px) {
  .wrapper .grid-item .content-wrapper h1 {
    font-size: 1.65rem;
  }
  .wrapper .grid-item .content-wrapper h2 {
    font-size: 1.4rem;
    top: 40%;
  }
}
@media (min-width: 768px) {
  .logo-preloader {
    width: 250px;
  }

  .wrapper .grid-item .content-wrapper img {
    width: 500px;
  }
  .wrapper .grid-item .content-wrapper h1 {
    font-size: 3.5rem;
    top: 10%;
  }
  .wrapper .grid-item .content-wrapper h2 {
    font-size: 3.5rem;
  }
}
@media (max-device-width: 1024px) and (orientation: landscape) {
  .wrapper .grid-item .content-wrapper {
    padding-bottom: 64px;
  }
}
body {
  background-color: rgba(0, 0, 0, 0.975);
  color: #fff;
}

a {
  font-family: "Jura", sans-serif;
}

.work-wrapper {
  min-height: 100vh;
  margin: 15vh 16px 0;
}
.work-wrapper .title {
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}
.work-wrapper .work-list-wrapper {
  max-width: 42rem;
  font-size: 1rem;
  margin-top: 25vh;
}
.work-wrapper .work-list-wrapper .work-list {
  padding-inline-start: 0;
  padding-bottom: 62px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.work-wrapper .work-list-wrapper .work-list li {
  margin: 0px 0px 175px;
}
.work-wrapper .work-list-wrapper .work-list li img {
  max-width: 100%;
  margin: 0px auto 1rem 0px;
}
.work-wrapper .work-list-wrapper .work-list .project-text h2 {
  margin-top: 6px;
}
.work-wrapper .work-list-wrapper .work-list .project-text .project-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.work-wrapper .work-list-wrapper .work-list .project-text .project-links a .work-github {
  width: 26px;
  height: 26px;
  padding-top: 6px;
}
.work-wrapper .work-list-wrapper .work-list .project-text .project-links a i {
  font-size: 1.5rem;
}
.work-wrapper .work-list-wrapper .work-list .project-text .project-links .project-icon:hover, .work-wrapper .work-list-wrapper .work-list .project-text .project-links .project-icon:focus {
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .work-wrapper {
    margin: 20vh 5% 0;
  }
  .work-wrapper .title {
    font-size: 5rem;
  }
  .work-wrapper .work-list-wrapper {
    max-width: 50rem;
    margin-top: 20vh;
  }
  .work-wrapper .work-list-wrapper .work-list li img {
    max-width: 80%;
  }
  .work-wrapper .work-list-wrapper .work-list li .project-text h2 {
    font-size: 3rem;
    margin-bottom: 0px;
  }
  .work-wrapper .work-list-wrapper .work-list li .project-text p {
    font-size: 1.5rem;
  }
  .work-wrapper .work-list-wrapper .work-list li .project-text .project-links {
    gap: 32px;
  }
  .work-wrapper .work-list-wrapper .work-list li .project-text .project-links a i {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .work-wrapper .work-list-wrapper {
    max-width: 62rem;
  }
  .work-wrapper .work-list-wrapper .work-list li {
    display: flex;
    align-items: center;
    gap: 70px;
  }
  .work-wrapper .work-list-wrapper .work-list li img {
    width: 400px;
    max-width: none;
  }
}
@media (min-width: 1200px) {
  .work-wrapper {
    max-width: 90rem;
  }
  .work-wrapper .work-list-wrapper {
    max-width: none;
  }
  .work-wrapper .work-list-wrapper .work-list li {
    gap: 100px;
  }
  .work-wrapper .work-list-wrapper .work-list li img {
    width: 500px;
  }
  .work-wrapper .work-list-wrapper .work-list li .project-text {
    padding-right: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
