@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
* {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border: 7px solid #232323;
}

::-webkit-scrollbar-thumb {
  background: #830044;
  background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  border-radius: 10px;
  width: 2px;
}

::selection {
  background-color: #ff0077f5;
}

/*Breakpoints*/
/*Typography*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
/*--HOMEPAGE CONTENT--*/
/*NAME LOGO*/
/*triangle*/
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 4.25s;
  animation-delay: 1.25s;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: rotate3d(0, 1, 0, -20deg);
    transform: rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: rotate3d(0, 1, 0, 10deg);
    transform: rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate3d(0, 1, 0, -5deg);
    transform: rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(2000px);
    transform: perspective(2000px);
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: rotate3d(0, 1, 0, -20deg);
    transform: rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: rotate3d(0, 1, 0, 10deg);
    transform: rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate3d(0, 1, 0, -5deg);
    transform: rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(2000px);
    transform: perspective(2000px);
  }
}
/*h1 (Robert Uebelhor)*/
.name-ani,
.name-ani::after {
  -webkit-animation-name: name-ani;
  animation-name: name-ani;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-delay: 6s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes name-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes name-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*title animations*/
.title-ani {
  -webkit-animation-name: title-ani;
  animation-name: title-ani;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes title-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes title-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
/*about me text*/
.about-me-text-ani {
  -webkit-animation-name: about-me-text-ani;
  animation-name: about-me-text-ani;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes about-me-text-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes about-me-text-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
/*(Intersection Observer)*/
/*sun and graph*/
.sun-ani,
.graph-ani {
  opacity: 0;
  -webkit-transition: opacity 0.75s ease-out;
  -o-transition: opacity 0.75s ease-out;
  transition: opacity 0.75s ease-out;
  -webkit-transition: -webkit-transform 0.75s ease-out;
  transition: -webkit-transform 0.75s ease-out;
  -o-transition: transform 0.75s ease-out;
  transition: transform 0.75s ease-out;
  transition: transform 0.75s ease-out, -webkit-transform 0.75s ease-out;
}

@-webkit-keyframes sun-n-graph {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sun-n-graph {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.appear {
  -webkit-animation: sun-n-graph 1s;
  animation: sun-n-graph 1s;
}

.sun-ani.appear,
.graph-ani.appear {
  opacity: 1;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.sun-ani {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

.graph-ani {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

/*work page projects*/
.work-1st-ani {
  -webkit-animation-name: work-1st-ani;
  animation-name: work-1st-ani;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

@-webkit-keyframes work-1st-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes work-1st-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.slide-right {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  -o-transition: transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.appear-work {
  -webkit-animation: fade-in 1s forwards;
  animation: fade-in 1s forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.slide-right.appear-work {
  opacity: 1;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.slide-right {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
@font-face {
  font-family: kimberly;
  src: url(../../fonts/kimberley\ bl.ttf);
  font-display: swap;
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
@font-face {
  font-family: Brat;
  src: url("../../fonts/Brat.ttf");
  font-display: swap;
}
@font-face {
  font-family: Lazer;
  src: url("../../fonts/Lazer84.ttf");
  font-display: swap;
}
a {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: #fff;
}

.desktop-header {
  display: none;
}
.desktop-header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 36px;
  padding-top: 65px;
}
.desktop-header .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 42px;
}
.desktop-header .navbar .logo img {
  width: 64px;
}
.desktop-header .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
  /*social*/
}
.desktop-header .navbar-menu .nav-items a.about-hover,
.desktop-header .navbar-menu .nav-items a.work-hover,
.desktop-header .navbar-menu .nav-items a.contact-hover {
  line-height: 50px;
  font-family: Brat;
  font-size: 2.75rem;
  background: #830044;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078));
  background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined,
.desktop-header .navbar-menu .nav-items .work-hover.underlined,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined {
  display: inline-block;
  color: #830044;
  position: relative;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined::after,
.desktop-header .navbar-menu .nav-items .work-hover.underlined::after,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border: solid 2px #830044;
  border-color: #830044 transparent transparent transparent;
  border-radius: 90%;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}
.desktop-header .navbar-menu .nav-items .about-hover.underlined:hover::after,
.desktop-header .navbar-menu .nav-items .work-hover.underlined:hover::after,
.desktop-header .navbar-menu .nav-items .contact-hover.underlined:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}
.desktop-header .navbar-menu .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 24px;
}
.desktop-header .navbar-menu .social-container a {
  margin: 0 8px;
}
.desktop-header .navbar-menu .social-container i {
  font-size: 1.5rem;
  background: #830044;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078));
  background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 768px) {
  .desktop-header {
    display: unset;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.navigation .logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  cursor: pointer;
  margin-left: 1.5rem;
  padding-top: 3.5rem;
}
.navigation .logo img {
  width: 64px;
}
.navigation-checkbox {
  display: none;
}
.navigation-button {
  position: absolute;
  top: 5rem;
  right: 2rem;
  z-index: 101;
  cursor: pointer;
}
.navigation-background {
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: -5rem;
  right: -5rem;
  border-radius: 50%;
  background: -o-radial-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95));
  background: radial-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95));
  z-index: 100;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}
.navigation-list .icons i {
  font-size: 2rem;
  display: inline-block;
  margin: 12px;
  cursor: pointer;
  background: #830044;
  background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078));
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation-list .icons {
  text-align: center;
  margin-top: 56px;
}
.navigation-item {
  margin: 1rem;
}
.navigation-item a {
  white-space: nowrap;
  display: inline-block;
  margin: 15px;
  text-decoration: none;
  background: #830044;
  background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078));
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: #830044;
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-family: brat;
}
.navigation-item .about-hover.underlined,
.navigation-item .work-hover.underlined,
.navigation-item .contact-hover.underlined {
  display: inline-block;
  color: #830044;
  position: relative;
}
.navigation-item .about-hover.underlined::after,
.navigation-item .work-hover.underlined::after,
.navigation-item .contact-hover.underlined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border: solid 2px #830044;
  border-color: #830044 transparent transparent transparent;
  border-radius: 90%;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}
.navigation-item .about-hover.underlined:active::after,
.navigation-item .work-hover.underlined:active::after,
.navigation-item .contact-hover.underlined:active::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}
.navigation-checkbox:checked ~ .navigation-background {
  -webkit-transform: scale(80);
  -ms-transform: scale(80);
  transform: scale(80);
}
.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
  transition-property: opacity;
  transition-delay: 100ms;
}
.navigation-icon {
  position: relative;
}
.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  width: 2.5rem;
  height: 3px;
  background-color: #fe007a;
  display: inline-block;
  border-radius: 90%;
}
.navigation-icon::before, .navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation-icon::before {
  top: -0.8rem;
}
.navigation-icon::after {
  top: 0.8rem;
}
.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}
.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.navigation-checkbox:checked + .navigation-button {
  position: fixed;
}

@media only screen and (min-width: 768px) {
  .navigation {
    display: none;
  }
}
/*BACKGROUND VIDEO*/
.video-overlay {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.815) 0%, rgba(0, 0, 0, 0.1) 40%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.ios {
  z-index: -200;
}

#myVideo {
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -200;
  width: 100vw;
  height: 100vh;
}

/*NAME LOGO*/
.wrapper .content-wrapper {
  z-index: 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 20vh;
}
.wrapper .content-wrapper picture .triangle-flip {
  width: 21.875rem;
  max-width: 100%;
  padding: 0 32px;
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
  position: relative;
}
.wrapper .content-wrapper .h1-wrapper {
  position: absolute;
  top: 20%;
}
.wrapper .content-wrapper h1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #859ee2), to(#d5ebfb));
  background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #859ee2 51%, #d5ebfb 100%);
  background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #859ee2 51%, #d5ebfb 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: kimberly;
  text-transform: uppercase;
  font-size: 2.25rem;
  -webkit-transition: font-size 1s;
  -o-transition: font-size 1s;
  transition: font-size 1s;
  display: inline;
  opacity: 0;
  margin-top: 32px;
}
.wrapper .content-wrapper h1::after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  z-index: -10;
  opacity: 0;
}
.wrapper .content-wrapper h2 {
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 0.01px rgba(180, 180, 180, 0.438);
  text-shadow: 0 0 26px rgba(68, 68, 68, 0.438);
  -webkit-animation: flicker 1.5s 6.45s infinite alternate, web-dev-ani 250ms 3.5s forwards;
  animation: flicker 1.5s 4.25s infinite alternate, web-dev-ani 250ms 3.5s forwards;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  font-size: 2rem;
  position: absolute;
  top: 40%;
  font-family: "Yellowtail", cursive;
  opacity: 0;
}
@-webkit-keyframes flicker {
  0%, 10%, 22%, 25%, 53%, 57%, 100% {
    -webkit-text-stroke: 0px;
    color: #eec5ee;
    text-shadow: 0 0 4px #f7adf7, 0 0 11px #f7adf7, 0 0 19px #f7adf7, 0 0 40px #ff00aa, 0 0 80px #ff00aa, 0 0 90px #ff00aa, 0 0 100px #ff00aa, 0 0 150px #ff00aa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@keyframes flicker {
  0%, 10%, 22%, 25%, 53%, 57%, 100% {
    -webkit-text-stroke: 0px;
    color: #eec5ee;
    text-shadow: 0 0 4px #f7adf7, 0 0 11px #f7adf7, 0 0 19px #f7adf7, 0 0 40px #ff00aa, 0 0 80px #ff00aa, 0 0 90px #ff00aa, 0 0 100px #ff00aa, 0 0 150px #ff00aa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@-webkit-keyframes web-dev-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes web-dev-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 280px) {
  .wrapper .content-wrapper h1 {
    font-size: 1.45rem !important;
  }
  .wrapper .content-wrapper h2 {
    font-size: 1.25rem !important;
    top: 40%;
  }
}
@media only screen and (max-width: 340px) {
  .wrapper .content-wrapper h1 {
    font-size: 1.65rem;
  }
  .wrapper .content-wrapper h2 {
    font-size: 1.4rem;
    top: 40%;
  }
}
@media only screen and (min-width: 768px) {
  .wrapper .content-wrapper picture .triangle-flip {
    width: 31.25rem;
  }
  .wrapper .content-wrapper h1 {
    font-size: 3.5rem;
    top: 10%;
  }
  .wrapper .content-wrapper h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .wrapper .content-wrapper {
    padding-bottom: 64px;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
body {
  font-family: "Jura", sans-serif;
}

.pages-wrapper {
  margin: 15vh 1.5rem 0;
}
.pages-wrapper .about-title {
  background: #830044;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078));
  background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  opacity: 0;
}
.pages-wrapper .pages-wrapper--about {
  position: relative;
  z-index: 1;
  opacity: 0;
  max-width: 42rem;
  font-size: 1rem;
  margin-top: 25vh;
}

.button-wrapper {
  text-align: left;
  margin-top: 3.5rem;
}
.button-wrapper a {
  padding: 0.5rem 4rem;
  background: #830044;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078));
  background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
}
.button-wrapper:active {
  transform: translateY(1px);
}

/*graph*/
.graph-wrapper {
  overflow: hidden;
  height: 100%;
}
.graph-wrapper .graph {
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0px, rgba(12, 191, 233, 0.5) 0%, rgba(12, 191, 233, 0.5) 3px, rgba(0, 0, 0, 0) 0px), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(12, 191, 233, 0.5) 0%, rgba(12, 191, 233, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(12, 191, 233, 0.5) 0%, rgba(12, 191, 233, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(12, 191, 233, 0.5) 0%, rgba(12, 191, 233, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  background-size: 4em 2em, 4em 2em;
  height: 30em;
  -webkit-transform: perspective(200px) rotateX(45deg) scale(2);
  transform: perspective(200px) rotateX(45deg) scale(2);
}

@media (min-width: 650px) {
  .sun-wrapper {
    position: relative;
  }
  .sun-wrapper .sun {
    position: absolute;
    left: 70%;
    bottom: -4.5rem;
    margin: 0;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background: #830044;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078)), -webkit-gradient(linear, left top, left bottom, from(black), to(white));
    background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%), -o-linear-gradient(black, white);
    background: linear-gradient(to top, #830044 10%, #ff0078 44%), linear-gradient(black, white);
    -webkit-box-shadow: #ff0078 0px 0 10px;
    box-shadow: #ff0078 0px 0 10px;
  }

  .button-wrapper {
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .pages-wrapper .pages-wrapper--about {
    max-width: 50rem;
    margin-top: 20vh;
  }

  .sun-wrapper .sun {
    width: 150px;
    height: 150px;
  }

  .about-text {
    font-size: 1.5rem;
  }

  .button-wrapper {
    text-align: left;
    margin-bottom: 4rem;
  }
  .button-wrapper a {
    padding: 0.75rem 4.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .pages-wrapper .about-text {
    max-width: 75%;
  }
  .pages-wrapper .pages-wrapper--about {
    max-width: 62rem;
  }

  .sun-wrapper {
    position: relative;
  }
  .sun-wrapper .sun {
    position: absolute;
    left: 75%;
    bottom: 0%;
    margin: 0;
    width: 200px;
    height: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  .pages-wrapper .pages-wrapper--about {
    max-width: none;
  }
}
@media only screen and (min-width: 1550px) {
  .sun-wrapper .sun {
    width: 275px;
    height: 275px;
  }
}
@media only screen and (min-width: 1700px) {
  .sun-wrapper .sun {
    width: 300px;
    height: 300px;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
body {
  font-family: "Jura", sans-serif;
  background-color: rgba(0, 0, 0, 0.975);
  color: #fff;
}

a {
  font-family: "Jura", sans-serif;
}

.pages-wrapper {
  margin: 15vh 16px 0;
}
.pages-wrapper .title {
  background: #830044;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078));
  background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  opacity: 0;
}
.pages-wrapper .pages-content-wrapper {
  max-width: 42rem;
  font-size: 1rem;
  margin-top: 25vh;
}
.pages-wrapper .pages-content-wrapper .work-list {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  padding-bottom: 62px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pages-wrapper .pages-content-wrapper .work-list li {
  margin: 0px 0px 175px;
  opacity: 0;
}
.pages-wrapper .pages-content-wrapper .work-list li img {
  max-width: 100%;
  margin: 0px auto 1rem 0px;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text h2 {
  margin-top: 6px;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text .project-links a .work-github {
  width: 26px;
  height: 26px;
  padding-top: 6px;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text .project-links a i {
  font-size: 1.5rem;
}
.pages-wrapper .pages-content-wrapper .work-list .project-text .project-links .project-icon:hover, .pages-wrapper .pages-content-wrapper .work-list .project-text .project-links .project-icon:focus {
  background: #830044;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #830044), color-stop(44%, #ff0078));
  background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
  background: linear-gradient(to top, #830044 10%, #ff0078 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 500px) {
  .pages-wrapper .pages-content-wrapper .work-list li img {
    max-width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .pages-wrapper {
    margin: 20vh 5% 0;
  }
  .pages-wrapper .title {
    font-size: 5rem;
  }
  .pages-wrapper .pages-content-wrapper {
    max-width: 50rem;
    margin-top: 20vh;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text h2 {
    font-size: 3rem;
    margin-bottom: 0px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text p {
    font-size: 1.5rem;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text .project-links {
    gap: 32px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text .project-links a i {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .pages-wrapper .pages-content-wrapper {
    max-width: 62rem;
  }
  .pages-wrapper .pages-content-wrapper .work-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 70px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li img {
    width: 400px;
    max-width: none;
  }
}
@media only screen and (min-width: 1200px) {
  .pages-wrapper {
    max-width: 90rem;
  }
  .pages-wrapper .pages-content-wrapper {
    max-width: none;
  }
  .pages-wrapper .pages-content-wrapper .work-list li {
    gap: 100px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li img {
    width: 500px;
  }
  .pages-wrapper .pages-content-wrapper .work-list li .project-text {
    padding-right: 60px;
  }
}
/*HOME PAGE TRANSITION*/
.main-transition-overlay1 {
  position: fixed;
  background-color: black;
  z-index: 200;
  height: 50vh;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: page-transition-top;
  animation-name: page-transition-top;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
  border-bottom: 4px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
  box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
}

@-webkit-keyframes page-transition-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-46vh);
    transform: translateY(-46vh);
  }
}
@keyframes page-transition-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-46vh);
    transform: translateY(-46vh);
  }
}
@keyframes page-transition-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-46vh);
    transform: translateY(-46vh);
  }
}
.main-transition-overlay2 {
  position: fixed;
  background-color: black;
  z-index: 200;
  height: 50vh;
  top: 50vh;
  left: 0;
  width: 100%;
  -webkit-animation-name: page-transition-bottom;
  animation-name: page-transition-bottom;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
  border-top: 4px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff, 0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9, 0 0 36px #0cbfe9;
  box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff, 0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9, 0 0 36px #0cbfe9;
}

@-webkit-keyframes page-transition-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(46vh);
    transform: translateY(46vh);
  }
}
@keyframes page-transition-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(46vh);
    transform: translateY(46vh);
  }
}
.logo-preloader {
  width: 150px;
  opacity: 0;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-animation-name: logo-preloader;
  animation-name: logo-preloader;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-webkit-keyframes logo-preloader {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  99% {
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  100% {
    opacity: 0;
  }
}
@keyframes logo-preloader {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  99% {
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 320px) {
  .logo-preloader {
    width: 200px;
  }
}
@media (min-width: 768px) {
  .logo-preloader {
    width: 250px;
  }
}
/*TRANSITIONS FOR ABOUT & WORK PAGES*/
.transition-overlay1 {
  position: fixed;
  background-color: black;
  z-index: 200;
  height: 50vh;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: page-transition-top;
  animation-name: page-transition-top;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  border-bottom: 4px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
  box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
}

.transition-overlay2 {
  position: fixed;
  background-color: black;
  z-index: 200;
  height: 50vh;
  top: 50vh;
  left: 0;
  width: 100%;
  -webkit-animation-name: page-transition-bottom;
  animation-name: page-transition-bottom;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  border-top: 4px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff, 0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9, 0 0 36px #0cbfe9;
  box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff, 0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9, 0 0 36px #0cbfe9;
}

@-webkit-keyframes page-transition-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(46vh);
    transform: translateY(46vh);
  }
}
@keyframes page-transition-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(46vh);
    transform: translateY(46vh);
  }
}
@-webkit-keyframes page-transition-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-46vh);
    transform: translateY(-46vh);
  }
}
@keyframes page-transition-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-46vh);
    transform: translateY(-46vh);
  }
}

/*# sourceMappingURL=main.css.map */
