/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: kimberly;
  src: url(../../fonts/kimberley\ bl.ttf);
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

@import "../components/navbar";
@import "../components/mobile_menu";

/*BACKGROUND VIDEO*/
.video-overlay {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.815) 0%,
    rgba(0, 0, 0, 0.1) 40%
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}
.ios {
  z-index: -200;
}
#myVideo {
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -200;
  width: 100vw;
  height: 100vh;
}

/*NAME LOGO*/
.wrapper {
  .content-wrapper {
    z-index: 0;
    position: relative;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    margin-top: 20vh;

    picture {
      .triangle-flip {
        width: 21.875rem;
        max-width: 100%;
        padding: 0 32px;
        -webkit-filter: brightness(85%);
        filter: brightness(85%);
        position: relative;
      }
    }

    .h1-wrapper {
      position: absolute;
      top: 20%;
    }

    h1 {
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#ebf1f6),
        color-stop(50%, #abd3ee),
        color-stop(51%, #859ee2),
        to(#d5ebfb)
      );
      background: -o-linear-gradient(
        top,
        #ebf1f6 0%,
        #abd3ee 50%,
        #859ee2 51%,
        #d5ebfb 100%
      );
      background: linear-gradient(
        to bottom,
        #ebf1f6 0%,
        #abd3ee 50%,
        #859ee2 51%,
        #d5ebfb 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: kimberly;
      text-transform: uppercase;
      font-size: 2.25rem;
      -webkit-transition: font-size 1s;
      -o-transition: font-size 1s;
      transition: font-size 1s;
      display: inline;
      opacity: 0;
      margin-top: 32px;

      &::after {
        background: none;
        content: attr(data-text);
        left: 0;
        position: absolute;
        text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5),
          3px 1px 3px rgba(255, 0, 255, 0.85),
          -3px -2px 3px rgba(0, 0, 255, 0.85),
          1px -2px 0 rgba(255, 255, 255, 0.8);
        z-index: -10;
        opacity: 0;
      }
    }
    h2 {
      letter-spacing: 3px;
      text-align: center;
      color: #fff;
      -webkit-text-stroke: 0.01px rgba(180, 180, 180, 0.438);
      text-shadow: 0 0 26px rgba(68, 68, 68, 0.438);
      -webkit-animation: flicker 1.5s 6.45s infinite alternate,
        web-dev-ani 250ms 3.5s forwards;
      animation: flicker 1.5s 4.25s infinite alternate,
        web-dev-ani 250ms 3.5s forwards;
      -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
      transform: rotate(-8deg);
      font-size: 2rem;
      position: absolute;
      top: 40%;
      font-family: $ff-web-dev;
      opacity: 0;
    }
    @-webkit-keyframes flicker {
      0%,
      10%,
      22%,
      25%,
      53%,
      57%,
      100% {
        -webkit-text-stroke: 0px;
        color: #eec5ee;
        text-shadow: 0 0 4px #f7adf7, 0 0 11px #f7adf7, 0 0 19px #f7adf7,
          0 0 40px #ff00aa, 0 0 80px #ff00aa, 0 0 90px #ff00aa,
          0 0 100px #ff00aa, 0 0 150px #ff00aa;
      }
      20%,
      24%,
      55% {
        text-shadow: none;
      }
    }
    @keyframes flicker {
      0%,
      10%,
      22%,
      25%,
      53%,
      57%,
      100% {
        -webkit-text-stroke: 0px;
        color: #eec5ee;
        text-shadow: 0 0 4px #f7adf7, 0 0 11px #f7adf7, 0 0 19px #f7adf7,
          0 0 40px #ff00aa, 0 0 80px #ff00aa, 0 0 90px #ff00aa,
          0 0 100px #ff00aa, 0 0 150px #ff00aa;
      }
      20%,
      24%,
      55% {
        text-shadow: none;
      }
    }
    @-webkit-keyframes web-dev-ani {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes web-dev-ani {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 280px) {
  .wrapper {
    .content-wrapper {
      h1 {
        font-size: 1.45rem !important;
      }
      h2 {
        font-size: 1.25rem !important;
        top: 40%;
      }
    }
  }
}

@media (max-width: 340px) {
  .wrapper {
    .content-wrapper {
      h1 {
        font-size: 1.65rem;
      }
      h2 {
        font-size: 1.4rem;
        top: 40%;
      }
    }
  }
}

@media (min-width: map-get($viewport_size, m)) {
  .wrapper {
    .content-wrapper {
      picture {
        .triangle-flip {
          width: 31.25rem;
        }
      }

      h1 {
        font-size: 3.5rem;
        top: 10%;
      }
      h2 {
        font-size: 3.5rem;
      }
    }
  }
}

@media (max-device-width: 1024px) and (orientation: landscape) {
  .wrapper {
    .content-wrapper {
      padding-bottom: 64px;
    }
  }
}
