/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
  background-color: rgba(0, 0, 0, 0.975);
  color: #fff;
}

a {
  font-family: $ff-primary;
}

.transition-overlay1 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: page-transition-top;
  animation-name: page-transition-top;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  border-bottom: 4px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff,
    0 0px 5.5px #99ffff, 0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9,
    0 0px 22px #0cbfe9, 0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
  box-shadow: 0 0px 1.5px #99ffff, 0 0px 2.5px #99ffff, 0 0px 5.5px #99ffff,
    0 0px 10px #0cbfe9, 0 0px 20px #0cbfe9, 0 0px 22px #0cbfe9,
    0 0px 25px #0cbfe9, 0 0px 36px #0cbfe9;
}
.transition-overlay2 {
  position: fixed;
  background-color: black;
  z-index: 10;
  height: 50vh;
  top: 50vh;
  left: 0;
  width: 100%;
  -webkit-animation-name: page-transition-bottom;
  animation-name: page-transition-bottom;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  border-top: 4px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff,
    0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9,
    0 0 36px #0cbfe9;
  box-shadow: 0 0 1.5px #99ffff, 0 0 2.5px #99ffff, 0 0 5.5px #99ffff,
    0 0 10px #0cbfe9, 0 0 20px #0cbfe9, 0 0 22px #0cbfe9, 0 0 25px #0cbfe9,
    0 0 36px #0cbfe9;
}
@-webkit-keyframes page-transition-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(46vh);
    transform: translateY(46vh);
  }
}
@keyframes page-transition-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(46vh);
    transform: translateY(46vh);
  }
}
@-webkit-keyframes page-transition-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-46vh);
    transform: translateY(-46vh);
  }
}
@keyframes page-transition-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-46vh);
    transform: translateY(-46vh);
  }
}

.pages-wrapper {
  margin: 15vh 16px 0;
  .title {
    background: #830044;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(10%, #830044),
      color-stop(44%, #ff0078)
    );
    background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
    background: linear-gradient(to top, #830044 10%, #ff0078 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    opacity: 0;
  }
  .pages-content-wrapper {
    max-width: 42rem;
    font-size: 1rem;
    margin-top: 25vh;
    .work-list {
      -webkit-padding-start: 0;
      padding-inline-start: 0;
      padding-bottom: 62px;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      li {
        margin: 0px 0px 175px;
        opacity: 0;
        img {
          max-width: 100%;
          margin: 0px auto 1rem 0px;
        }
      }
      .project-text {
        h2 {
          margin-top: 6px;
        }
        .project-links {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          gap: 16px;
          a {
            .work-github {
              width: 26px;
              height: 26px;
              padding-top: 6px;
            }
            i {
              font-size: 1.5rem;
            }
          }
          .project-icon {
            &:hover,
            &:focus {
              background: #830044;
              background: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(10%, #830044),
                color-stop(44%, #ff0078)
              );
              background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
              background: linear-gradient(to top, #830044 10%, #ff0078 44%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .pages-wrapper {
    .pages-content-wrapper {
      .work-list {
        li {
          img {
            max-width: 80%;
          }
        }
      }
    }
  }
}

@media (min-width: map-get($viewport_size, m)) {
  .pages-wrapper {
    margin: 20vh 5% 0;
    .title {
      font-size: 5rem;
    }
    .pages-content-wrapper {
      max-width: 50rem;
      margin-top: 20vh;
      .work-list {
        li {
          .project-text {
            h2 {
              font-size: 3rem;
              margin-bottom: 0px;
            }
            p {
              font-size: 1.5rem;
            }
            .project-links {
              gap: 32px;
              a {
                i {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: map-get($viewport_size, l)) {
  .pages-wrapper {
    .pages-content-wrapper {
      max-width: 62rem;
      .work-list {
        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          gap: 70px;
          img {
            width: 400px;
            max-width: none;
          }
        }
      }
    }
  }
}

@media (min-width: map-get($viewport_size, xl)) {
  .pages-wrapper {
    max-width: 90rem;
    .pages-content-wrapper {
      max-width: none;
      .work-list {
        li {
          gap: 100px;
          img {
            width: 500px;
          }
          .project-text {
            padding-right: 60px;
          }
        }
      }
    }
  }
}
