body {
  font-family: $ff-primary;
}

.navbar-mobile {
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  .logo {
    align-self: center;
    cursor: pointer;
    margin-left: 26px;
    margin-top: 8px;
    img {
      width: 64px;
    }
  }
  .openMenu i {
    font-size: 2rem;
    margin: 20px;
    display: block;
    cursor: pointer;
    background: #830044;
    background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
    background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
    background: linear-gradient(to top, #830044 10%, #ff0078 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mainMenu {
    justify-items: center;
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.975);
    transition: top 1s ease;
    display: none;
    list-style: none;
    padding-inline-start: 0;
    overflow-y: auto;
    .nav-items {
      align-self: end;

      li {
        a {
          display: inline-block;
          padding: 15px;
          text-decoration: none;
          background: #830044;
          background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
          background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
          background: linear-gradient(to top, #830044 10%, #ff0078 44%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background: #830044;
          background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
          background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
          background: linear-gradient(to top, #830044 10%, #ff0078 44%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 3rem;
          font-family: brat;
        }
        .about-hover,
        .work-hover,
        .contact-hover {
          &.underlined {
            display: inline-block;
            color: #830044;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              border: solid 2px #830044;
              border-color: #830044 transparent transparent transparent;
              border-radius: 90%;
              transform-origin: bottom right;
              transform: scaleX(0);
              transition: transform 100ms ease-out;
            }
            &:active::after {
              transform: scale(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }

    .closeMenu i {
      display: block;
      position: absolute;
      top: 2.5vh;
      right: 5vw;
      background: #830044;
      background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
      background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
      background: linear-gradient(to top, #830044 10%, #ff0078 44%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .closeMenu,
    .icons i {
      font-size: 2rem;
      display: inline-block;
      padding: 12px;
      cursor: pointer;
      background: #830044;
      background: -webkit-linear-gradient(to top, #830044 10%, #ff0078 44%);
      background: -moz-linear-gradient(to top, #830044 10%, #ff0078 44%);
      background: linear-gradient(to top, #830044 10%, #ff0078 44%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .icons {
      text-align: center;
      margin-top: 56px;
    }
  }
}

@media (min-width: 375px) {
  .navbar-mobile {
    .mainMenu {
      .nav-items {
        li a {
          font-size: 3.25rem;
        }
      }
    }
  }
}

@media (min-width: map-get($viewport_size, m)) {
  .navbar-mobile {
    display: none;
  }
}
