/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: Brat;
  src: url("../../fonts/Brat.ttf");
  font-display: swap;
}

@font-face {
  font-family: Lazer;
  src: url("../../fonts/Lazer84.ttf");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");

a {
  font-family: $ff-primary;
  text-decoration: none;
  color: #fff;
}

.desktop-header {
  display: none;
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 36px;
    padding-top: 65px;
    .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 42px;

      img {
        width: 64px;
      }
    }
  }

  .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 32px;
    .nav-items {
      a.about-hover,
      a.work-hover,
      a.contact-hover {
        line-height: 50px;
        font-family: Brat;
        font-size: 2.75rem;
        background: #830044;
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(10%, #830044),
          color-stop(44%, #ff0078)
        );
        background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
        background: linear-gradient(to top, #830044 10%, #ff0078 44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .about-hover,
      .work-hover,
      .contact-hover {
        &.underlined {
          display: inline-block;
          color: #830044;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            border: solid 2px #830044;
            border-color: #830044 transparent transparent transparent;
            border-radius: 90%;
            -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
            transform-origin: bottom right;
            -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: -webkit-transform 100ms ease-in-out;
            transition: -webkit-transform 100ms ease-in-out;
            -o-transition: transform 100ms ease-in-out;
            transition: transform 100ms ease-in-out;
            transition: transform 100ms ease-in-out,
              -webkit-transform 100ms ease-in-out;
          }
          &:hover::after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            transform-origin: bottom left;
          }
        }
      }
    }
    /*social*/
    .social-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 24px;
      a {
        margin: 0 8px;
      }
      i {
        font-size: 1.5rem;
        background: #830044;
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(10%, #830044),
          color-stop(44%, #ff0078)
        );
        background: -o-linear-gradient(bottom, #830044 10%, #ff0078 44%);
        background: linear-gradient(to top, #830044 10%, #ff0078 44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media only screen and (min-width: map-get($viewport_size, m)) {
  .desktop-header {
    display: unset;
  }
}
