/*Breakpoints*/

$viewport_size: (
  s: 320px,
  m: 768px,
  l: 1024px,
  xl: 1200px,
);

/*Typography*/

$ff-primary: "Questrial", sans-serif;
$ff-secondary: "Jura", sans-serif; //navbar//
$ff-web-dev: "Yellowtail", cursive;
